<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <title>Edit job</title>
</head>

<body>
    <div class='container'>
        <h1>Hello, {{user.first_name}}!</h1>
        <a class="btn btn-light" href="/logout">Log out</a>
        <a class="btn btn-light" href="/success/{{user.id}}">Dashboard</a>
        <div>
                <a href="{{job.id}}">{{job.title}}</a>
                <h1>{{job.description}}</h1>
                <h1>Location: {{job.location}}</h1>
                <h1>posted on:{{job.created_at}}</h1>
                <h1>posted by:{{user.first_name}}</h1>
        </div>











    </div>










</body>