<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Authors</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
            <form action="/add_author" method="POST">
            {% csrf_token %}
            <div class="form-group">
               <h4>Add a Author</h4> 
              <label for="formGroupExampleInput">First Name</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First name input" name="first name">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Last Name</label>
              <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Last name input" name="last name">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Notes</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Notes input" name="notes">
                <button type="submit" class="btn btn-light">Add</button>
            </div>
      </form>
        </div>
        <div class="col-6">
      <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for author in all_authors %}
                    <tr>
                        <td>{{author.id}}</td>
                        <td>{{author.first_name}}</td>
                        <td><a href="/authors/{{author.id}}">view</a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
            </div>
        </div>

     </div>
</body>
</html>