<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=“stylesheet href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Too Low</title>
</head>
<body>
    <div class='container col-12' align= 'center'>
            <h1>TOO LOW</h1>
        <form action='/guess' method='POST'>
            <input class="form-control" type="text" placeholder="Take a guess here.."name='guess'style='background-color: white'>
            <hr class="my-4">
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
        </form>
    
    </div>
    
</body>
</html>