<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title> Add Shows</title>
</head>
<body>
    <div class="container">
        <h1>TV Show {{show.id}}</h1>
        <h1>title: {{show.title}}</h1>
        <h2>network: {{show.network}}</h2>
        <h2>release_date: {{show.release_date}}</h2>
        <h2>description: {{show.description}} </h2>
        <a href="/shows">Go Back</a>
        <a href="/shows/{{show.id}}/delete">Delete</a>
        <a href="/shows/{{show.id}}/edit">edit</a>



    </div>
    
</body>
</html>