<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Ninja Gold</title>
</head>
<body style="background-color:lightpink">
    <div class="container">
        <div class="wrapper">
            <div class="points text-center">
                    <a class="btn btn-primary text-center" href="/reset" role="button">Play Again</a>
                <p>Your Gold: {{wallet}} </p>
            </div>
        <div class= "place row">
            <div class="jumbotron col-3">
                <h1 class="display-4">Farm</h1>
                <p class="lead">(earns 10-20 golds)</p>
                <form action="/process" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Find Gold!</button>
                    <input type="hidden" name="location" value="Farm">
                </form>
            </div>
            <div class="jumbotron col-3">
                <h1 class="display-4">Cave</h1>
                <p class="lead">(earns 5-10 golds)</p>
                <form action="/process" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Find Gold!</button>
                    <input type="hidden" name="location" value="Cave">
                </form>
            </div>
            <div class="jumbotron col-3">
                <h1 class="display-4">House</h1>
                <p class="lead">(earns 2-5 golds)</p>
                <form action="/process" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Find Gold!</button>
                    <input type="hidden" name="location" value="House">
                </form>
            </div>
            <div class="jumbotron col-3">
                <h1 class="display-4">Casino</h1>
                <p class="lead">(earns/takes 0-50 golds)</p>
                <form action="/process" method="post">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Find Gold!</button>
                    <input type="hidden" name="location" value="Casino">
                </form>
            </div>
        </div>
            <div class="activities">
                <p>Activities:</p>
                {% for i in activity reversed%}
                <h4> {{i}}</h4>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>

