<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/css/style.css'%}">
    
    <title>Registration & Login</title>
</head>

<body>
    <div class="container">
        <div class='row mt-5'>
            <div class="col-5 ml-5">
                <form action="/register" method='POST'>
                    {% csrf_token %}
                    {% if messages %}
                    <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                    <p class='border text-center border-dark'>Registration</p>
                    <div class='form-group row'>
                        <label class='mt-2 col-sm-3' for="formGroupExampleInput"><h6>First Name</h6></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="Default input" name='first_name'>
                        </div>
                    </div>
                    
                    <div class='form-group row'>
                        <label class='mt-2 col-sm-3' for="formGroupExampleInput"><h6>Last name</h6></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="Default input"name='last_name'>
                        </div>
                    </div>

                    <div class='form-group row'>
                        <label class='mt-2 col-sm-3' for="formGroupExampleInput"><h6>Email</h6></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="Default input"name="email">
                        </div>
                    </div>
                    
                    <div class='form-group row'>
                        <label class='mt-2 col-sm-3' for="formGroupExampleInput"><h6>Password</h6></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="Default input" name='password'>
                        </div>
                    </div>
                    <div class='form-group row'>
                        <label class='mt-2 col-sm-3' for="formGroupExampleInput"><h6>Confirm Password</h6></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="Default input" name='confirm password'>
                            <button type="submit" class="btn btn-light">Register</button>
                        </div>
                        
                    </div>
                </form>
                </div>
                <div class='col-2'></div>
                <div class='col-4'>
                <form action="/login" method='POST'>
                    {% csrf_token %}
                    {% if messages %}
                    <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}
                    <p class='border text-center border-dark'>Login</p>
                    <div class='form-group row'>
                        <label class='mt-2 col-sm-3' for="formGroupExampleInput"><h6>Email</h6></label>
                        <div class="col-sm-9">
                         <input class="form-control" type="text" placeholder="Default input" name='email'>
                    </div>
                    </div>
                    <div class='form-group row'>
                        <label class='mt-2 col-sm-3' for="formGroupExampleInput"><h6>Password</h6></label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" placeholder="Default input" name='password'>
                            <button type="submit" class="btn btn-light">Log In</button>
                        </div>
                    </div>








                </form>










            </div>

        </div>

    </div>

</body>

</html>