<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>Restful Tasks API</h1>

<h3>All the tasks:</h3>

<p *ngFor="let task of tasks">{{task.title}} - {{task.description}} <button (click)="showTask(task)" class="btn-btn-primary btn-lg">Show</button></p>
<!-- <p>{{thirdTask.title}} {{thirdTask.description}}</p> -->
<button (click)="getTasksFromService()" class="btn-btn-primary btn-lg">Show Tasks</button>
<h4 *ngIf="oneTask"><div class='desc'><h3>{{oneTask.title}}</h3>{{oneTask.description}}</div></h4>
<router-outlet></router-outlet>