<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
    <title>shows book</title>

</head>

<body>
    <div class="container">
        <div class='header p-3 mb-2 bg-light text-dark'>
            <h5>Welcome {{user.first_name}}<span class="float-right mb-4"><a href="/logout">Log Out</a></span></h5>
        </div>
        <div class='row'>
            <div class='col'>
                <form action="/updated" method="POST">
                    {%csrf_token%}
                    <input name='title' value="{{book.title}}">
                    <h6>{{book.uploaded_by_id}}</h6>
                    <h6>{{book.updated_at}}</h6>
                    <div>
                        <p>Description</p>
                        <textarea name="description" cols="30" rows="10"></textarea>
                        <button type="submit" class="btn btn-light">UPDATE</button>
                    </div>

                    <input type="hidden" name='id' value='{{book.id}}'>
                </form>
                <a href="/delete/{{book.id}}">DELETE</a>
            </div>
            <div class='col-5'>
                <h3>Users Who Like This Book:</h3>
                {% for user in book.book_likes.all %}
                {{user.first_name}}
                {{user.last_name}}
                {% endfor%}
            </div>
            


        </div>













    </div>


</body>

</html>