<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cats</title>
</head>

<body>
    <p>Different Cats</p>
    <% for(var cat of cats){ %>
    <h3>Name: <%=cat.name %></h3>
    <a href="/cats/<%=cat.name %>"><img src="<%= cat.img %>"></a>
    <%}%> 
</body>
</html>