.square{
    width:50px;
    height:40px;
    display: inline-block;
    
}
.color_1{
    background-color:pink;
}
.color_2{
    background-color:yellow;
}
.container{
    width:1150px;
    height:1090px;
    text-align: center;
}
h1{
    font-size: 70px;
    color: white;
}
body{
    background-color: black;
}