<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Play Checkers With Lin!</h1>
        {% for i in range(0,x) %}
        <div class="row">
            {% for j in range(0,y) %}
            <div class="square {% if (i+j)%2==1 %}color_1{% else %}color_2{% endif %}"></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    
</body>
</html>