*{

}
h1{
    position: relative;
    left: 380px;
    position: relative;
    top: 260px;
    border: solid white 3px;
    width: 400px;
    height: 60px;
    font-style: oblique;
}
h4{
    position: relative;
    left: 430px;
    position: relative;
    top: 300px;
    font-style: oblique;
}
.body2{
    width: 2000px;
    height:2000px; 
    background-color:rgb(253, 253, 186); 
}