<div class='container'>
        <div class='title'>
            <h2>{{title}}</h2>
            <a [routerLink]="['']">Home</a>
        </div>
        <h4>Update product:</h4>
        <div>
            <div class='input'>
                <p>Name:</p>
                <p>Qty:</p>
                <p>Price:</p>
    
                <!-- <form (submit)="authorSubmit(author)"> // NOW THAT WE HAVE ANGULAR DONT NEED FORM TAG--> -->
                    <p class="error" *ngIf="errors.name">{{errors.name.message}}</p>
                    <input type="text" name="updateproduct.name" [(ngModel)]="updateproduct.name" placeholder="{{updateproduct.name}}">
                    <p class="error" *ngIf="errors.quantity">{{errors.quantity.message}}</p>
                    <input type="text" name="updateproduct.quantity" [(ngModel)]="updateproduct.quantity" placeholder="{{updatproduct.quantity}}">
                    <p class="error" *ngIf="errors.price">{{errors.price.message}}</p>
                    <input type="text" name="updateproduct.price" [(ngModel)]="updateproduct.price" placeholder="{{updateproduct.price}}">
                    <a [routerLink]="['']">Reset</a>
                    <button (click)="updatedProduct()" class="btn btn-warning">Update</button>
                <!-- </form> -->
            </div>
    
    
        </div>
    
    </div>
    

